*.gem
*.rbc
.bundle
.classpath
.config
.idea
.jbundler
.project
.rspec
.rvmrc
.yardoc
InstalledFiles
Gemfile.lock
_yardoc
build
coverage
doc/
lib/bundler/man
log
pkg
rdoc
repository
samples/*/.bundle
samples/*/*.lock
samples/*/log/*.log
samples/*/tmp
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
doc
