*.gem
*.rbc
.bundle
.classpath
.config
.idea
.jbundler
.project
.rspec
.ruby-gemset
.ruby-version
.rvmrc
.yardoc
InstalledFiles
Gemfile.lock
Jarfile.lock
_yardoc
build
coverage
data
!spec/data
doc/
lib/bundler/man
log
pkg
rdoc
repository
samples/*/.bundle
samples/*/*.lock
samples/*/log/*.log
samples/*/tmp
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
doc
