*.gem
*.rbc
.bundle
.config
.idea
.jbundler
.rspec
.rvmrc
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
bin/
coverage
doc/
lib/bundler/man
pkg
rdoc
samples/*/.bundle
samples/*/log/*.log
samples/*/tmp
spec/reports
test/tmp
test/version_tmp
tmp
vendor/
doc
